<h2 class="mat-headline-3">MARGIN PADDING</h2>
<p>Clases auxiliares para modificar padding y margin de elementos en la vista.</p>
<p>
  Las clases tienen la siguiente estructura: <span class="bg-grey-light1">{{ '.m{posicion}-{n}' }}</span> para margen
  y  <span class="bg-grey-light1">{{'.p{posicion}-{n}' }}</span> para padding, donde <span class="bg-grey-light1">{{ '{posicion}' }}</span> 
  indica la zona a aplicar , que puede ser <strong>t</strong>(top), <strong>l</strong>(left), <strong>r</strong>(right) y 
  <strong>b</strong>(bottom), por otra parte <span class="bg-grey-light1">{{ '{n}' }}</span> es un número del 0 al 30 que indica la cantidad a aplicar.
</p>
<p>
  
</p>
<h5 class="mat-subtitle-2">Codigo</h5>
<pre class="bg-grey-light1 pa-3">
  <code>
    &lt;div class="mp-box bg-green-light pt-2 pl-2"&gt; Margen top y left con 2 unidades de padding&lt;/div&gt;
    &lt;div class="mp-box bg-green-light pt-10 pl-10"&gt; Margen top y left con 10 unidades de padding&lt;/div&gt;
    &lt;div class="mp-box bg-green-light pt-15 pl-15"&gt; Margen top y left con 15 unidades de padding&lt;/div&gt;
    &lt;div class="mp-box bg-green-light pt-20 pl-20"&gt; Margen top y left con 20 unidades de padding&lt;/div&gt;
  </code>
</pre>

<h5 class="mat-subtitle-2">Resultado</h5>
<div class="mp-box bg-green-light pt-2 pl-2"> Margen top y left con 2 unidades de padding</div>
<div class="mp-box bg-green-light pt-10 pl-10"> Margen top y left con 10 unidades de padding</div>
<div class="mp-box bg-green-light pt-15 pl-15"> Margen top y left con 15 unidades de padding</div>
<div class="mp-box bg-green-light pt-20 pl-20"> Margen top y left con 20 unidades de padding</div>