#navBar{
  height: 100vh;
  background-color: white;
  border-right: 2px blue solid;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
}

#logo{
  background-image: url(.././../../../core/assets/Identificador_SIMi_vertical_principal.svg);
    background-repeat: no-repeat;
    /* background-color: aliceblue; */
    background-position: center;
    width: inherit;
    height: 70%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    /* padding-left: 5px;*/
}



@media only screen and (max-width: 600px) {

  #navBar{
    display: none;
  }



}



