<div id="navBar" >
  <div id="logo"><p>SIMI</p></div>
  <!-- <p (click)="goDashBoard()">DashB</p> -->
  <mat-icon (click)="goDashBoard()" aria-hidden="false" aria-label="dashboard icon" fontIcon="home" class="pointer"></mat-icon>
  <!-- <p (click)="goPerfil()">Perfil</p> -->
  <mat-icon (click)="goPerfil()" aria-hidden="false" aria-label="Perfil icon" fontIcon="account_circle" class="pointer"></mat-icon>
  <!-- <p (click)="goconfiguraciones()">config</p> -->
  <mat-icon (click)="goconfiguraciones()" aria-hidden="false" aria-label="configuraciones icon" fontIcon="settings" class="pointer"></mat-icon>
  <!-- <p (click)="gologOut()">logOut</p> -->
  <mat-icon (click)="gologOut()" aria-hidden="false" aria-label="Logout icon" fontIcon="exit_to_app" class="pointer"></mat-icon>
</div>

