#navBar{
  height: 100vh;
  background-color: white;
  border-right: 2px blue solid;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
  #logo{
    img{
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {

  #navBar{
    display: none;
  }

}



