<h2 class="tittle">Revisiones</h2>
<div class="revisiones">
  <mat-accordion>
  @for (motivoDev of Motivos_Devolucion; track $index) {
    <div class="mat_expansion_panel">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{$index + 1}}
          </mat-panel-title>
          <mat-panel-description>
            <div class="divSubsanar">
              <span class="diasSubsanar">{{motivoDev.Tiempo_Subsanacion}} días para subsanar</span>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="metadata">
          <mat-divider></mat-divider>
          <div class="nombreFecha mt-3 mb-3">
            <div class="icon-dato mr-3">
              <mat-icon class="icon" aria-hidden="false" aria-label="home icon" fontIcon="home"></mat-icon>
              <p class="nombre">{{motivoDev.Usuario_Creador.first_name}} {{motivoDev.Usuario_Creador.last_name}}</p>
            </div>
            <div class="icon-dato">
              <mat-icon class="icon" aria-hidden="false" aria-label="date_range icon" fontIcon="date_range"></mat-icon>
              <p class="fecha">{{motivoDev.Fecha_Creacion}}</p>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="motivo mt-3 mb-3">
            <p class="dataMotivo">{{motivoDev.Motivo_Devolucion}}</p>
          </div>
          <!-- <mat-divider></mat-divider>
          <div class="btnAtender mt_15 mb_15">
            <button mat-flat-button color="primary" (click)="atenderDevolucion(motivoDev)">Antender</button>
          </div> -->
        </div>
      </mat-expansion-panel>
    </div>
    }
  </mat-accordion>

</div>
