.fieldImputText{
  .label{
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 15px;
    width: 100%;
  }
  .label2{
    color: #4199ff;
    font-size: small;
    text-align: justify;
    width: 100%;
  }
}
