.fieldImputText{
  .label{
    // background-color: blueviolet;
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 15px;
    width: 100%;

  }
  .label2{
    // background-color: aqua;
    color: #4199ff;
    font-size: small;
    text-align: justify;
    // width: max-content;
    width: 100%;
  }
}
