// Importar mixin de breakpoints
@import "/abstracts/_mixins-breakpoint";

.listIdeasContainer{
  flex-direction: column;
  height: 100%;
  .mat-mdc-table{
    table-layout: fixed; // para ajustar el ancho de las columnas
  }
}

.titleIdeas{
  text-align: left;
  padding-left: 10px;
}

.btnRegistrarIdea{
  text-align: right;
}
.dataTableIdeas{
  width: 100%; /* Ancho específico del contenedor */
  overflow: auto;
  padding: 0 70px 0 0px;
}
table {
  width: 100%;
}

h1{
  margin: 0px;
}

.paginador{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.aprobado{
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}

.enRevision{
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}

.rechazado{
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}
.Devuelta{
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}

.BTNsAcciones{
  display: flex;
  // justify-content: space-around;
}

// Resolucion extra-small
@include respond(xs){


.dataTableIdeas{
  position: absolute;
  z-index: 9;
}


}
