// Importar mixin de breakpoints
@import "/abstracts/_mixins-breakpoint";

.btnRegistrarIdea {
  text-align: right;
}

.titleIdeas {
  text-align: left;
  padding-left: 10px;
}

.listIdeasContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 55px;
  z-index: 1;
  position: relative;
}

.dataTableIdeas {
  position: relative;

  background-color: var(--white-color);
}


@include respond(xs) {

  .listIdeasContainer {
    background-color: var(--grey-color);
    border-radius: 20px;
    color: var(--white-color);
    display: flex;
    height: 50px;
    justify-content: space-around;
    position: fixed;
    top: 126px;
    width: 99%;
  }

  .dataTableIdeas {
    z-index: 0;
  }

  .dataTableMovil {
    display: flex;
  }

}

@include respond(sm) {

  .listIdeasContainer {
    background-color: var(--grey-color);
    margin: 0px 0px 10px 0px;
    border-radius: 20px;
    color: var(--white-color);
    display: flex;
    height: 50px;
    justify-content: space-around;
    position: fixed;
    top: 126px;
    width: 100%;
  }

  .dataTableIdeas {
    z-index: 0;
  }

  .dataTableMovil {
    display: flex;
  }

}
