#loginPageContainer{
  background-color: aquamarine;
  height: 100vh;
  background-image: url(assets/images/background-image-login-page.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;

}

#logo{
  background-image: url(assets/images/Identificador_SIMi_alta_resolucion.svg);
    background-repeat: no-repeat;
    /* background-color: aliceblue; */
    background-position: center;
    width: inherit;
    height: 26%;
    display: flex;
    flex-direction: row;
}

#form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: #ffffff80;
  height: 100vh;
  backdrop-filter: blur(10px);
}

#divMain{
  // background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  width: 50%;
  height: 100vh;
}


@media only screen and (max-width: 600px) {
  #form {
      width: 100%; /* Ancho completo en dispositivos pequeños */
      padding: 10px;
  }

  #divMain{
    justify-content: center;
    padding-top: 0%;
    width: 100%;
  }

}
