// Importar mixin de breakpoints
@import "/abstracts/_mixins-breakpoint";

.grupoLineaIvestigacion{
  margin-bottom: 20px;
  overflow-x: auto;

  .titleGrupoInves{
    background-color: var(--secondary-color);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    padding: 12px 5px 1px 5px;
    .pTitleInves{
      color: var(--white-color);
      font-weight: bold;
    }
  }
  .screenPC{
    display: block;
    .grupos{
      display: flex;
      flex-direction: row;
      text-align: center;
      border-bottom: 1px solid var(--grey-color);
      height: auto;
      padding-bottom: 1px;
      .titleGI{
        font-weight: bold;
        margin: 0;
        padding-top: 7px;
        width: 100%;
      }
      .br1{
        border-right: 1px solid var(--grey-color);
      }
    }
    .lineasInvs{
      text-align: center;
      margin: 0;
      padding: 10px;
      border-bottom: 1px solid var(--grey-color);
    }
    .father{
      display: flex;
      border-bottom: 1px solid var(--grey-color);
      max-height: 250px;
      .LI{
        border-right: 1px solid var(--grey-color);
        border-left: 1px solid var(--grey-color);
        padding: 5px;
        width: 100%;
      }

    }
  }
  .screenMobil{
    display: none;
    .titleGI{
      font-weight: bold;
      margin: 0;
      padding-top: 7px;
    }
    .br1{
      border-top: 1px solid var(--grey-color);
    }
    .lineasInvs{
      color:var(text-secondary);
      font-size: small;
      margin: 10px;
    }
  }

  .label{
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 15px;
    width: 100%;

  }
  .label2{
    color: var(text-secondary);
    font-size: small;
    text-align: justify;
    width: 100%;
  }

  .mt20{
    margin-top: 20px;
  }
}

// Resolucion extra-small
@include respond(xs){
  .grupoLineaIvestigacion{
    .screenPC{
      display: none;
    }
    .screenMobil{
      display: block;
    }

  }
}


.mat-mdc-form-field-error{
  font-size: small;
}
