.tipoProyecto{

  .Section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

}



.mat-mdc-checkbox{
  width: auto;
}


.mat-mdc-form-field-error{
  font-size: small;
}
