// Importar mixin de breakpoints
@import "/abstracts/_mixins-breakpoint";

:host ::ng-deep .swiper-button-prev-unique {
  left: 0;
  top: 50%;
  position: absolute;
  cursor: pointer;
}

:host ::ng-deep .swiper-button-next-unique {
  right: 0;
  top: 50%;
  position: absolute;
  cursor: pointer;
}

.btnsArrowSiwper{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  position: relative;
  top: -155px;
  z-index: 9;
  width: 100vw;


  .swiper-button-next-unique{
    top: auto;
    width: 30px;
    height: 30px;
    margin-right: 210px;
    display: flex;
    align-items: center;
    font-weight: bold;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    background-color: var(--grey-light1-color);
    position: relative;
  }

  .swiper-button-prev-unique{
    top: auto;
    width: 30px;
    height: 30px;
    margin-left: 210px;
    display: flex;
    align-items: center;
    font-weight: bold;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    background-color: var(--grey-light1-color);
    position: relative;
  }


}

// Resolucion extra-small
@include respond(xs){

  .btnsArrowSiwper{
    top: -150px;
    .swiper-button-next-unique{
      margin-right: 10px;
    }
    .swiper-button-prev-unique{
      margin-left: 10px;
    }

  }



}

.swiper-pagination {
  position: absolute;
  // text-align: center;
  transition: .3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  background-color: var(--blue-status-color);
  display: none;
}
