<div class="patrones mb-10 pl-5 pr-5">
  <mat-grid-list cols="12">
    <mat-grid-tile [colspan]="12" [rowspan]="3"> 
      <h1 class="mat-headline-2">PATRONES ESTILOS</h1>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="12" [rowspan]="1"> 
      <p class="body-1">A continuación se muestran los componentes generales para construir la mayoria de las vistas requeridas en el proyecto. Lo anterior basado en el Framework <a href="https://material.angular.io/">Material Angular</a></p>      
    </mat-grid-tile>
  </mat-grid-list>
  <!-- INFORMACIÓN DE TIPOGRAFIA -->
  <mat-divider class="mt-5 mb-5"></mat-divider>
  <app-patrone-typography></app-patrone-typography>
  <!-- ICONOS -->
  <mat-divider class="mt-5 mb-5"></mat-divider>
  <app-patrone-icons></app-patrone-icons>
  <!-- INFORMACIÓN DE COLORES -->
  <mat-divider class="mt-5 mb-5"></mat-divider>
  <app-patrones-colores></app-patrones-colores>
  <!-- INFORMACIÓN DE MARGIN Y PADDING -->
  <mat-divider class="mt-5 mb-5"></mat-divider>
  <app-patrone-margin-padding></app-patrone-margin-padding>
  <!-- INFORMACIÓN DE REJILLA/GRID -->
  <mat-divider class="mt-5 mb-5"></mat-divider>
  <app-patrone-grid></app-patrone-grid>  
  <!-- INFORMACIÓN RESPONSIVE -->
  <mat-divider class="mt-5 mb-5"></mat-divider>
  <app-patrone-responsive></app-patrone-responsive> 
  <!-- NOTAS FINALES -->
  <mat-divider class="mt-5 mb-5"></mat-divider>
  <app-patrone-notes></app-patrone-notes>  
</div>