<form [formGroup]="formulario" class="generalDelProponente">

  <div class="contenedor">
      <mat-form-field>
        <p class="tootlip">Entidad o dependencia originadora de la idea</p>
        <mat-label >Entidad o dependencia originadora de la idea</mat-label>
        <mat-select disableOptionCentering="true" value="{{selected}}">
          <mat-option>Seleccione...</mat-option>
          @for (state of states; track state) {
          <mat-option [value]="state">{{state}}</mat-option>
          }
      </mat-select>
    </mat-form-field>
    </div>

  <div class="date">
    <p class="dateTitle">Día / Mes Año</p>
    <div class="dateContainer">
      <input formControlName="fecha" matInput placeholder="Fecha" type="date" class="inputDate">
    </div>
  </div>

  <div class="contenedor">
    <mat-form-field>
      <p class="tootlip">Nombre del proponente de la idea</p>
      <mat-label>Nombre del proponente de la idea</mat-label>
      <input formControlName="nombreProponente" matInput placeholder="Proponente" value="">
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label>Correo electrónico</mat-label>
    <input type="email" matInput formControlName="email"
      placeholder="Ex. pat@example.com">
    @if (formulario.hasError('email') && !formulario.hasError('required')) {
    <mat-error>Porfavor ingresar una direccion de correo valida </mat-error>
    }
    @if (formulario.hasError('required')) {
    <mat-error>El email es <strong>obligatorio</strong></mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Cédula</mat-label>
    <input matInput formControlName="cedula" placeholder="Cédula" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Célular de contacto</mat-label>
    <input formControlName="celular" type="tel" matInput placeholder="321-9876543">
  </mat-form-field>

</form>
