<div class="topBannerContainer">
  <app-swiper swiperContainerId="why-us-swiper" class="subContainerSwiper">
    <swiper-container #swiper class="swiper" pagination="true" autoplay="true">
      @for (slide of slides; track slide; let i = $index) {
        <swiper-slide  class="pointer">
          <div class="card mx-2">
            <!-- <div class="card-body">
              <p class="card-text">
                {{ slide.description }}
              </p>
            </div> -->
            <img (click)="goConvocatoria(slide)" class="imgSwiper" height="400" [src]="slide.yek" alt="Image {{ i + 1 }}" />
          </div>
        </swiper-slide>
        }
    </swiper-container>
  </app-swiper>
</div>
