@import "./variables";

// BACKGROUND COLORS
.bg-primary {
  background-color: $primary-color !important;
}

.bg-secondary {
  background-color: $secondary-color !important;
}

.bg-green-light {
  background-color: $green-light-color !important;
}

.bg-black {
  background-color: $black-color !important;
}

.bg-white {
  background-color: $white-color !important;
}

.bg-grey {
  background-color: $grey-color !important;
}

.bg-grey-light1 {
  background-color: $grey-light1-color !important;
}

.bg-grey-light2 {
  background-color: $grey-light2-color !important;
}

.bg-grey-light3 {
  background-color: $grey-light3-color !important;
}

.bg-green-status {
  background-color: $green-status-color !important;
}

.bg-orange-status {
  background-color: $orange-status-color !important;
}

.bg-lightred-status {
  background-color: $lightred-status-color !important;
}

.bg-blue-status {
  background-color: $blue-status-color !important;
}

.bg-red-status {
  background-color: $red-status-color !important;
}

// TEXT COLORS
.text-primary {
  color: $primary-color !important;
}

.text-secondary {
  color: $secondary-color !important;
}

.text-green-light {
  color: $green-light-color !important;
}

.text-black {
  color: $black-color !important;
}

.text-white {
  color: $white-color !important;
}

.text-grey {
  color: $grey-color !important;
}

.text-grey-light1 {
  color: $grey-light1-color !important;
}

.text-grey-light2 {
  color: $grey-light2-color !important;
}

.text-grey-light3 {
  color: $grey-light3-color !important;
}

.text-green-status {
  color: $green-status-color !important;
}

.text-orange-status {
  color: $orange-status-color !important;
}

.text-lightred-status {
  color: $lightred-status-color !important;
}

.text-blue-status {
  color: $blue-status-color !important;
}

.text-red-status {
  color: $red-status-color !important;
}