$max: 30;
$offset: 5;
$unit: 'px'; // Feel free to change the unit.
@mixin list-loop($className, $styleName) {
  $i: 0;
  $amount: $offset;
  @while $i <= $max {
    #{$className + $i} { 
      #{$styleName}: #{$amount + $unit} !important;
    }
    $amount: $amount + $offset;
    $i : $i + 1;
  }
}
// All directions
@mixin list-loop-all-directions($className, $styleName) {
  $i: 1;
  $amount: $offset;
  @while $i <= $max {
    #{$className + $i} { 
      #{$styleName}: #{$amount + $unit} !important;
    }
    $amount: $amount + $offset;
    $i : $i + 1;
  }
}

// Margins
@include list-loop('.mt-', 'margin-top');
@include list-loop('.mr-', 'margin-right');
@include list-loop('.mb-', 'margin-bottom');
@include list-loop('.ml-', 'margin-left');
@include list-loop-all-directions('.ma-', 'margin');
// Paddings
@include list-loop('.pt-', 'padding-top');
@include list-loop('.pr-', 'padding-right');
@include list-loop('.pb-', 'padding-bottom');
@include list-loop('.pl-', 'padding-left');
@include list-loop-all-directions('.pa-', 'padding');