// COLORS
$primary-color: #FFCB03;
$secondary-color: #1D64A7;
$green-light-color: #C3ECD0;
$black-color: #0A210F;
$white-color: #FFFFFF;
$grey-color: #6F6F6F;
$grey-light1-color: #D9D9D9;
$grey-light2-color: #F5F5F5;
$grey-light3-color: #FBFBFB;
$green-status-color: #C2F5C0;
$orange-status-color: #F7ECD8;
$lightred-status-color: #F2CDCA;
$blue-status-color: #93D5E6;
$red-status-color: #E71616;
