.newIdeaContainer{
  // background-color: light-dark(lime, green);
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 34px;
  /* justify-content: center; */
  /* text-align: center; */
  padding: 30px 10px 5px 10px;
  overflow: auto;
}
