<form [formGroup]="formulario" (ngSubmit)="onSave('submit')" class="newIdeaContainer" autocomplete="off">

  <div class="breadCrumb"> <span class="pointer" (click)="goDashBoard()">Ideas</span> · Registrar idea</div>

  <div class="title1Div">
    <h1 class="tittle1">Registrar Idea</h1>
  </div>

  <app-toast-msg mensaje="{{textToastMensaje}}"></app-toast-msg>

  <div class="gdp">
    <h2>General Del Proponente</h2>
  </div>
  <div  class="generalDelProponente">
    <div class="CampoEntidad">
      @if (validacionEntidad) { <mat-error>{{getErrorCampo("Entidad")}}</mat-error> }
      @if (!modoVer) {
        <div style="display: flex;">
          <p style="margin: 0;">Entidad o dependencia originadora de la idea</p>
        </div>
        <mat-radio-group class="DF" aria-label="Select an option" (change)="onCheckboxChangeEntidadInterna($event)">
          <mat-radio-button  color="primary"  value="{{Interna}}">{{Interna}}</mat-radio-button>
          <mat-radio-button color="primary" value="{{Externa}}">{{Externa}}</mat-radio-button>
        </mat-radio-group>
      }
          <!-- <mat-checkbox color="primary"  (change)="onCheckboxChangeEntidadInterna($event)" [checked]="EntidadInterna">Interna</mat-checkbox>
      <mat-checkbox color="primary"  (change)="onCheckboxChangeEntidadExterna($event)" [checked]="EntidadExterna">Externa</mat-checkbox> -->
    </div>
    <div class="contenedor ">
      @if(EntidadInterna){
        <mat-form-field>
          <mat-label >Entidad o dependencia originadora de la idea</mat-label>
          <p class="tootlip">Entidad o dependencia originadora de la idea</p>
          <mat-select disableOptionCentering="true" formControlName="Entidad" id="EntidadSelect">
            <mat-option>Seleccione...</mat-option>
            @for (entidad of Entidades; track entidad) {
              <mat-option [value]="entidad.Descripcion_Valor">{{entidad.Descripcion_Valor}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
      @if(EntidadExterna || modoVer){
        <mat-form-field>
          <mat-label >Entidad o dependencia originadora de la idea</mat-label>
          <p class="tootlip">Entidad o dependencia originadora de la idea</p>
          <input formControlName="Entidad" matInput placeholder="Proponente" value="" id="EntidadInput" readonly="{{modoVer}}">
        </mat-form-field>
      }
    </div>


    <div class="contenedor date">
        <p class="dateTitle"> Mes / Día / Año</p>
        <div class="dateContainer">
          <input id="Fecha_Idea" formControlName="Fecha_Idea" matInput placeholder="Fecha" type="date" class="inputDate">
        </div>
        @if (validacionFecha) { <mat-error>{{getErrorCampo("Fecha_Idea")}}</mat-error> }

    </div>

    <div class="contenedor">
      <mat-form-field>
        <p class="tootlip">Nombre del proponente de la idea</p>
        <mat-label>Nombre del proponente de la idea</mat-label>
        <input formControlName="nombreProponente" matInput placeholder="Proponente" value="">
        @if (!validacionCampo("nombreProponente")) { <mat-error>{{getErrorCampo("nombreProponente")}}</mat-error> }
      </mat-form-field>
    </div>

    <div class="contenedor">
      <mat-form-field>
        <mat-label>Correo electrónico</mat-label>
        <input type="email" matInput formControlName="email"
          placeholder="Ex. pat@example.com" value="">
          @if (!validacionCampo("email")) { <mat-error>{{getErrorCampo("email")}}</mat-error> }
      </mat-form-field>
    </div>

    @if (!modoVer || (modoVer && formulario.value["cedula"])) {
      <mat-form-field>
        <mat-label>Cédula</mat-label>
        <input matInput type="number" formControlName="cedula" placeholder="Cédula" value="">
        @if (!validacionCampo("cedula")) { <mat-error>{{getErrorCampo("cedula")}}</mat-error> }
      </mat-form-field>
    }

    @if (!modoVer || (modoVer && formulario.value["celular"])) {
      <mat-form-field>
        <mat-label>Célular de contacto</mat-label>
        <input type="number" formControlName="celular"  matInput placeholder="3219876543">
        @if (!validacionCampo("celular")) { <mat-error>{{getErrorCampo("celular")}}</mat-error> }
      </mat-form-field>
    }

  </div>

  <!-- Aspectos técnicos de la ídea de Investigación, Desarrollo tecnológico o Innovación -->
  <div class="aspectosTecnicos">
    <div class="mt20 gdp">
       <h2>Aspectos técnicos de la ídea de Investigación, Desarrollo tecnológico o Innovación</h2>
     </div>

     <div class="aspectosTecnicos full-width">

       <div class="fieldImputText">
         <p class="label">Título de la ídea</p>
         @if (!modoVer){
           <p class="label2">Un buen título, además de la exactitud y la confiabilidad, debe ser claro, conciso, específico
             y, si es posible, llamativo de forma tal que capture la atención del lector y enmarque la ídea principal.</p>
         }
         <mat-form-field class="matFormField">
           <textarea formControlName="Titulo_Idea" readonly="{{modoVer}}" #idea class="textA" matInput placeholder="Título de la ídea" value=""></textarea>
           @if (!modoVer){<mat-hint align="end" style="text-align: end;">{{idea.value.length}} / 200</mat-hint>}
           @if (!validacionCampo("Titulo_Idea")) { <mat-error>{{getErrorCampo("Titulo_Idea")}}</mat-error> }
         </mat-form-field>
       </div>

       <br />

       <mat-divider class="divider"></mat-divider>

       <app-tipo-proyecto [formulario]="formulario" [modoVer]="modoVer"
        [banderaValidacionTipoProyectoSeleccionando]="banderaValidacionTipoProyectoSeleccionando"
       ></app-tipo-proyecto>
       <!-- <div class="tipoProyecto">

         <p class="label">Tipo de proyecto</p>
         <p class="label2">Seleccione el tipo de proyecto en el que se enmarcará la propuesta de investigación</p>
         <section class="Section">
           <mat-checkbox formControlName="Investigacion_Cientifica" color="primary" [checked]="false">Investigación</mat-checkbox>
           @if (!validacionCampo("Investigacion_Cientifica")) { <mat-error>{{getErrorCampo("Investigacion_Cientifica")}}</mat-error> }
           <mat-checkbox formControlName="Desarrollo_Tecnologico" color="primary" checked="false">Desarrollo tecnológico</mat-checkbox>
           @if (!validacionCampo("Desarrollo_Tecnologico")) { <mat-error>{{getErrorCampo("Desarrollo_Tecnologico")}}</mat-error> }
           <mat-checkbox formControlName="Innovacion" color="primary" checked="false">Innovación</mat-checkbox>
           @if (!validacionCampo("Innovacion")) { <mat-error>{{getErrorCampo("Innovacion")}}</mat-error> }
         </section>


       </div> -->

       <mat-divider></mat-divider>

       <app-grupos-investigacion [formulario]="formulario" [modoVer]="modoVer"
        [banderaValidacionLineasInvestigacionSeleccionadas]="banderaValidacionLineasInvestigacionSeleccionadas"
       ></app-grupos-investigacion>

       <mat-divider></mat-divider>

       <div class="fieldImputText">
         <p class="label">URL Cronograma</p>
         @if (!modoVer){
           <p class="label2">url del directorio donde se encuentre el documento cronograma preliminar del proyecto, defina responsables y duración de este.</p>
         }
         <mat-form-field class="matFormField">
           <textarea formControlName="URL_Cronograma" #tiempo class="textA" readonly="{{modoVer}}" matInput placeholder="URL del Cronograma"></textarea>
           @if (!modoVer){<mat-hint align="end" style="text-align: end;">{{tiempo.value.length}} / 150</mat-hint>}
           @if (!validacionCampo("URL_Cronograma")) { <mat-error>{{getErrorCampo("URL_Cronograma")}}</mat-error> }
         </mat-form-field>
       </div>
       <mat-divider></mat-divider>

       <div class="fieldImputText">
         <p class="label">Tiempo de ejecución del proyecto I+D+i</p>
         @if (!modoVer){
           <p class="label2">Establezca un cronograma preliminar del proyecto y duración del mismo en meses.</p>
         }
         <mat-form-field class="matFormField">
           <textarea formControlName="Tiempo_Ejecucion_Proyecto" #tiempo class="textA" readonly="{{modoVer}}" matInput placeholder="Tiempo de ejecución del proyecto I+D+i"></textarea>
           @if (!modoVer){<mat-hint align="end" style="text-align: end;">{{tiempo.value.length}} / 50</mat-hint>}
           @if (!validacionCampo("Tiempo_Ejecucion_Proyecto")) { <mat-error>{{getErrorCampo("Tiempo_Ejecucion_Proyecto")}}</mat-error> }
         </mat-form-field>
       </div>

       <div class="fieldImputText">
         <mat-form-field class="matFormField">
           <p class="label">Lugar de ejecución</p>
           @if (!modoVer){
             <p class="label2">Defina el lugar donde se ejecutará el proyecto I+D+i.</p>
           }
           <textarea formControlName="Lugar_Ejecucion" #lugar class="textA" matInput readonly="{{modoVer}}"
             placeholder="Defina el lugar donde se ejecutará el proyecto I+D+i"></textarea>
           @if (!modoVer){<mat-hint align="end" style="text-align: end;">{{lugar.value.length}} / 50</mat-hint>}
           @if (!validacionCampo("Lugar_Ejecucion")) { <mat-error>{{getErrorCampo("Lugar_Ejecucion")}}</mat-error> }
         </mat-form-field>
       </div>

       <p class="label">Productos resultados de la investigación</p>
       @if (!modoVer){
         <p class="label2">Identificaser, seleccionar y relacionar los productos resultado de la investigación que se
           obtienen, segun las tipologías de
           Minciencias corresponden a: Generación de nuevo conocimiento, desarrollo tecnológico e innovación; Apropiación
           social del conocimiento y divulgación
           pública de la ciencia y la Formación de recurso humano en ciencia Tecnología e Innovación - CTeI.</p>
       }
       <div class="fieldImputText ml_15">
        @if (!modoVer || (modoVer && formulario.value["Nuevo_Conocimiento"])) {
          <div class="fieldImputText">
            <p class="label">Productos resultados de actividades de Generación de Nuevo Conocimiento</p>
            @if (!modoVer){
              <p class="label2">Identificar y establecer los productos esperados en el proyecto. Minciencias 2021: Articulos
                de investigación,
                tipo A1, A2, B, C y D; Notas cientificas, tipo A1, A2, B, C y D; Libros resultados de investigación; Libros
                de formación en cuartil Q1;
                Capitulos en libro resultadosd e investigación; Productos tecnológicos patentados o en proceso de concesión
                de la patente; Variedades
                vegetales, variedades animales y poblaciones mejoradas de razas pecuarias y obras o productos resultados de
                creación e
                investigación-creación, Arquitectura y Diseño
              </p>
            }
            <mat-form-field class="matFormField">
              <textarea matInput formControlName="Nuevo_Conocimiento" #Productos class="textA" matInput readonly="{{modoVer}}"
                placeholder="Productos resultados de actividades de Generación de Nuevo Conocimiento"></textarea>
              @if (!modoVer){<mat-hint align="end" style="text-align: end;">{{Productos.value.length}} / 200</mat-hint>}
              @if (!validacionCampo("Nuevo_Conocimiento")) { <mat-error>{{getErrorCampo("Nuevo_Conocimiento")}}</mat-error> }
            </mat-form-field>
          </div>
        }
         @if (!modoVer || (modoVer && formulario.value["Tecnologico_Innovacion"])) {
           <div class="fieldImputText">
             <p class="label">Productos resultados de actividades de Desarrollo tecnológico e Innovación</p>
             @if (!modoVer){
               <p class="label2">Identificar y establecer el producto esperados en el proyecto. Minciencias 2021: Productos
                 empresariales, regulaciones,
                 normas, reglamentos o legislaciones, Conceptos técnicos y Registros de Acuerdos de licencia para explotación
                 de obras de investigación + Creación en Artes,
                 Arquitectura y Diseño protegidas por derechos de auto.
               </p>
             }
             <mat-form-field class="matFormField">
               <textarea matInput formControlName="Tecnologico_Innovacion" #ProductosDesarrollo class="textA" matInput readonly="{{modoVer}}"
                 placeholder="Productos resultados de actividades de Desarrollo tecnológico e Innovación"></textarea>
               @if (!modoVer){<mat-hint align="end" style="text-align: end;">{{ProductosDesarrollo.value.length}} / 200</mat-hint>}
               @if (!validacionCampo("Tecnologico_Innovacion")) { <mat-error>{{getErrorCampo("Tecnologico_Innovacion")}}</mat-error> }
             </mat-form-field>
           </div>
         }
         @if (!modoVer || (modoVer && formulario.value["Apropiacion_Conocimiento"])) {
           <div class="fieldImputText">
             <p class="label">Productos resultados de actividades de Apropiación Social del Conocimiento y Divulgación
               Publica de la Ciencia</p>
               @if (!modoVer){
                 <p class="label2">Identificar y establecer el producto esperados en el proyecto. Minciencias 2021:
                   Reconocimiento de Contexto. la Participación;
                   Dialogo de Saberes y conocimientos; Confianza y Reflexión Crítica
                 </p>
               }
             <mat-form-field class="matFormField">
               <textarea matInput formControlName="Apropiacion_Conocimiento" #ProductosApropiacion class="textA" matInput readonly="{{modoVer}}"
                 placeholder="Productos resultados de actividades de Apropiación Social del Conocimiento y Divulgación Publica de la Ciencia"></textarea>
               @if (!modoVer){<mat-hint align="end" style="text-align: end;">{{ProductosApropiacion.value.length}} / 200</mat-hint>}
               @if (!validacionCampo("Apropiacion_Conocimiento")) { <mat-error>{{getErrorCampo("Apropiacion_Conocimiento")}}</mat-error> }
             </mat-form-field>
           </div>
         }
         @if (!modoVer || (modoVer && formulario.value["Formacion_CTEL"])) {
           <div class="fieldImputText">
             <p class="label">Productos resultados de actividades de Formación del Recurso Humano para la CTeI</p>
             @if (!modoVer){
               <p class="label2">Identificar y establecer el producto esperados en el proyecto. Minciencias 2021: Realización
                 de una tésis o trabajo de grado
                 que otorga el título de doctor(a), magister o profesional (respectivamente); la ejecución de proyectos de
                 ID+I con formación y apoyo a programas
                 de formación; y la gestión de proyectos de investigación que permitan la consecución de los recursos
                 necesarios para el desarrollo de la investigación
                 o la innovación.
               </p>
             }
             <mat-form-field class="matFormField">
               <textarea matInput formControlName="Formacion_CTEL" #ProductosFRH class="textA" matInput readonly="{{modoVer}}"
                 placeholder="Productos resultados de actividades de Formación del Recurso Humano para la CTeI"></textarea>
               @if (!modoVer){<mat-hint align="end" style="text-align: end;">{{ProductosFRH.value.length}} / 200</mat-hint>}
               @if (!validacionCampo("Formacion_CTEL")) { <mat-error>{{getErrorCampo("Formacion_CTEL")}}</mat-error> }
             </mat-form-field>
           </div>

         }

       </div>

       <div class="formStyleFields">

         <!-- @for (item of camposFieldEditText; track $index) {
           <app-field-input-edit-text [formulario]="formulario"  [item]="item"></app-field-input-edit-text>
         } -->
        <!-- @for (item of camposFieldEditText; track $index) { -->

          <!-- <div class="fieldImputText">
            <mat-divider class="divider"></mat-divider>
            <p class="label">{{camposFieldEditText[0].label}}</p>
            <p class="label2">{{camposFieldEditText[0].SubLabel}}</p>


            <ngx-editor-menu id="5555" [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
            <ngx-editor
              id="5555"
              [id]="5555"
              [editor]="editor"

              formControlName="{{camposFieldEditText[0].nameField}}"

              [placeholder]="'Type here...'"
            ></ngx-editor>

            <button (click)="TestingEditField(camposFieldEditText[0].nameField)" type="button">TESTING - {{camposFieldEditText[0].label}}</button>



          </div>
          <div class="fieldImputText">
            <mat-divider class="divider"></mat-divider>
            <p class="label">{{camposFieldEditText[1].label}}</p>
            <p class="label2">{{camposFieldEditText[1].SubLabel}}</p>


            <ngx-editor-menu id="1111" [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
            <ngx-editor
              [id]="1111"
              id="1111"
              [editor]="editor"

              formControlName="{{camposFieldEditText[1].nameField}}"

              [placeholder]="'Type here...'"
            ></ngx-editor>

            <button (click)="TestingEditField(camposFieldEditText[1].nameField)" type="button">TESTING - {{camposFieldEditText[1].label}}</button>



          </div> -->
        <!-- } -->
        <!-- ////////// @kolkov/angular-editor ////////////// -->

        <!-- @for (item of camposFieldEditText; track $index) {
          <div class="fieldImputText">
            <mat-divider class="divider"></mat-divider>
            <p class="label">{{item.label}}</p>
            <p class="label2">{{item.SubLabel}}</p>
            <div class="containerEditor">
                    <angular-editor id="{{item.nameField}}" [placeholder]="'Ingresar texto...'"
                      formControlName="{{item.nameField}}" [config]="config"></angular-editor>
            </div>
            <p>{{item.nameField}}</p>
            @if (validacionCampoFieldEditText(item.nameField)) { <mat-error>Este campo es requerido</mat-error> }
            </div>
        } -->

        @if (!modoVer) {
          <div class="fieldImputText">
          <mat-divider class="divider"></mat-divider>
          <p class="label">{{camposFieldEditText[0].label}}</p>
          @if (!modoVer){
            <p class="label2">{{camposFieldEditText[0].SubLabel}}</p>
          }
          <div class="containerEditor">
                  <angular-editor id="{{camposFieldEditText[0].nameField}}" [placeholder]="'Ingresar texto...'"
                    formControlName="{{camposFieldEditText[0].nameField}}" [config]="config"></angular-editor>
          </div>
          @if (camposFieldEditText[0].validacion) { <mat-error>Este campo es requerido</mat-error> }
              <!-- @if (!validacionCampo("{{item.nameField}}")) { <mat-error>{{getErrorCampo(item.nameField)}}</mat-error> } -->
              <!-- @if (!validacionCampo("Lugar_Ejecucion")) { <mat-error>{{getErrorCampo("Lugar_Ejecucion")}}</mat-error> } -->
            <!-- <h5 class="html-header">HTML Output</h5>
            <div class="html">
              {{ formulario.controls[item.nameField].value }}
            </div> -->
          </div>
          <div class="fieldImputText">
            <mat-divider class="divider"></mat-divider>
            <p class="label">{{camposFieldEditText[1].label}}</p>
            @if (!modoVer){
              <p class="label2">{{camposFieldEditText[1].SubLabel}}</p>
            }
            <div class="containerEditor">
                    <angular-editor id="{{camposFieldEditText[1].nameField}}" [placeholder]="'Ingresar texto...'"
                      formControlName="{{camposFieldEditText[1].nameField}}" [config]="config"></angular-editor>
            </div>
            @if (camposFieldEditText[1].validacion) { <mat-error>Este campo es requerido</mat-error> }

          </div>
          <div class="fieldImputText">
            <mat-divider class="divider"></mat-divider>
            <p class="label">{{camposFieldEditText[2].label}}</p>
            @if (!modoVer){
              <p class="label2">{{camposFieldEditText[2].SubLabel}}</p>
            }
            <div class="containerEditor">
                    <angular-editor id="{{camposFieldEditText[2].nameField}}" [placeholder]="'Ingresar texto...'"
                      formControlName="{{camposFieldEditText[2].nameField}}" [config]="config"></angular-editor>
            </div>
            @if (camposFieldEditText[2].validacion) { <mat-error>Este campo es requerido</mat-error> }

          </div>
          <div class="fieldImputText">
            <mat-divider class="divider"></mat-divider>
            <p class="label">{{camposFieldEditText[3].label}}</p>
            @if (!modoVer){
              <p class="label2">{{camposFieldEditText[3].SubLabel}}</p>
            }
            <div class="containerEditor">
                    <angular-editor id="{{camposFieldEditText[3].nameField}}" [placeholder]="'Ingresar texto...'"
                      formControlName="{{camposFieldEditText[3].nameField}}" [config]="config"></angular-editor>
            </div>
            @if (camposFieldEditText[3].validacion) { <mat-error>Este campo es requerido</mat-error> }

          </div>
          <div class="fieldImputText">
            <mat-divider class="divider"></mat-divider>
            <p class="label">{{camposFieldEditText[4].label}}</p>
            <p class="label2">{{camposFieldEditText[4].SubLabel}}</p>
            <div class="containerEditor">
                    <angular-editor id="{{camposFieldEditText[4].nameField}}" [placeholder]="'Ingresar texto...'"
                      formControlName="{{camposFieldEditText[4].nameField}}" [config]="config"></angular-editor>
            </div>
            @if (camposFieldEditText[4].validacion) { <mat-error>Este campo es requerido</mat-error> }

          </div>
        }
        @if(modoVer) {
          <app-edit-text-rich
            [formulario]="formulario" [modoVer]="modoVer"
            [camposFieldEditText]="camposFieldEditText"></app-edit-text-rich>
        }


      </div>

     </div>
     <div class="btnToSave">
       <!-- <button type="submit">Guardar</button> -->
       @if (!modoVer) {
         <button
                  (click)="onSave('borrador')"
                  mat-raised-button
                  disabledInteractive
                  matTooltip="This is a tooltip!"
                  class="btnNewIdea"
                  color="primary"
                >
                  GUARDAR BORRADOR
          </button>
          <button
                  (click)="onSave('registrar')"
                  mat-raised-button
                  disabledInteractive
                  matTooltip="This is a tooltip!"
                  class="btnNewIdea"
                  color="secundary"
                >
                  REGISTRAR IDEA
          </button>
       }
       @if (modoVer) {
        <button
                  (click)="onSave('regresar')"
                  mat-raised-button
                  disabledInteractive
                  matTooltip="This is a tooltip!"
                  class="btnNewIdea"
                  color="primary"
                >
                  REGRESAR
          </button>
       }

     </div>
  </div>



  <!-- comentarioar todo, solo pruebas -->
  <!-- <h4>You chose:</h4>
          {{formulario.value | json}}
  <div style="display: flex; flex-direction: column;">
  <div style="display: flex; justify-content: center;">
    <span style="width: fit-content; margin-right: 20px; font-weight: bold;">
      formulario.valid:</span>
    <pre>{{ formulario.valid | json }}</pre>
  </div>
  <div style="display: flex; justify-content: center;">
    <span style="width: fit-content; margin-right: 20px; font-weight: bold;">
      formulario.pristine:</span>
    <pre>{{ formulario.pristine | json }}</pre>
  </div>
  <div style="display: flex; justify-content: center;">
    <span style="width: fit-content; margin-right: 20px; font-weight: bold;">
      formulario.touched:</span>
    <pre>{{ formulario.touched | json }}</pre>
  </div>
  <div style="display: flex; justify-content: center;">
    <span style="width: fit-content; margin-right: 20px; font-weight: bold;">
      Fecha_Idea:</span>
    <pre>{{ formulario.controls["Fecha_Idea"].errors | json }}</pre>
    <pre>{{ formulario.controls["Fecha_Idea"].touched | json }}</pre>
    <pre>{{ formulario.controls["Fecha_Idea"].value | json }}</pre>

    <pre>{{ formulario.controls["Fecha_Idea"].status | json }}</pre>
  </div>

  </div> -->
</form>
