<form [formGroup]="formulario" (ngSubmit)="onSave()" class="newIdeaContainer" autocomplete="off">

  <div class="breadCrumb"> <span class="pointer" (click)="goDashBoard()">Ideas</span> · Registrar idea</div>

  <div class="title1Div">
    <h1 class="tittle1">Registrar Idea</h1>
  </div>

  <app-toast-msg mensaje="{{textToastMensaje}}"></app-toast-msg>

  <div class="gdp">
    <h2>General Del Proponente</h2>
  </div>
  <div  class="generalDelProponente">

    <div class="contenedor">
        <mat-form-field>
          <p class="tootlip">Entidad o dependencia originadora de la idea</p>
          <mat-label >Entidad o dependencia originadora de la idea</mat-label>
          <!-- <mat-select disableOptionCentering="true" formControlName="Entidad">
            <mat-option>Seleccione...</mat-option>
            @for (state of states; track state) {
              <mat-option [value]="state">{{state}}</mat-option>
            }
        </mat-select> -->
          <input formControlName="Entidad" matInput placeholder="Proponente" value="">
          @if (!validacionCampo("Entidad")) { <mat-error>{{getErrorCampo("Entidad")}}</mat-error> }
      </mat-form-field>
    </div>

    <div class="contenedor date">
        <p class="dateTitle">Día / Mes Año</p>
        <div class="dateContainer">
          <input formControlName="Fecha_Idea" matInput placeholder="Fecha" type="date" class="inputDate">
        </div>
        @if (validacionFecha) { <mat-error>{{getErrorCampo("Fecha_Idea")}}</mat-error> }

    </div>

    <div class="contenedor">
      <mat-form-field>
        <p class="tootlip">Nombre del proponente de la idea</p>
        <mat-label>Nombre del proponente de la idea</mat-label>
        <input formControlName="nombreProponente" matInput placeholder="Proponente" value="">
        @if (!validacionCampo("nombreProponente")) { <mat-error>{{getErrorCampo("nombreProponente")}}</mat-error> }
      </mat-form-field>
    </div>

    <div class="contenedor">
      <mat-form-field>
        <mat-label>Correo electrónico</mat-label>
        <input type="email" matInput formControlName="email"
          placeholder="Ex. pat@example.com" value="">
          @if (!validacionCampo("email")) { <mat-error>{{getErrorCampo("email")}}</mat-error> }
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Cédula</mat-label>
      <input matInput type="number" formControlName="cedula" placeholder="Cédula" value="">
      @if (!validacionCampo("cedula")) { <mat-error>{{getErrorCampo("cedula")}}</mat-error> }
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Célular de contacto</mat-label>
      <input type="number" formControlName="celular"  matInput placeholder="3219876543">
      @if (!validacionCampo("celular")) { <mat-error>{{getErrorCampo("celular")}}</mat-error> }
    </mat-form-field>

  </div>

  <!-- Aspectos técnicos de la ídea de Investigación, Desarrollo tecnológico o Innovación -->
 <div class="mt20 gdp">
    <h2>Aspectos técnicos de la ídea de Investigación, Desarrollo tecnológico o Innovación</h2>
  </div>

  <div class="aspectosTecnicos full-width">

    <div class="fieldImputText">
      <mat-form-field class="matFormField">
        <p class="label">Título de la ídea</p>
        <p class="label2">Un buen título, además de la exactitud y la confiabilidad, debe ser claro, conciso, específico
          y, si es posible, llamativo de forma tal que capture la atención del lector y enmarque la ídea principal.</p>
        <textarea formControlName="Titulo_Idea" #idea class="textA" matInput placeholder="Título de la ídea"></textarea>
        <mat-hint align="end" style="text-align: end;">{{idea.value.length}} / 250</mat-hint>
        @if (!validacionCampo("Titulo_Idea")) { <mat-error>{{getErrorCampo("Titulo_Idea")}}</mat-error> }
      </mat-form-field>
    </div>

    <br />
<!--
    <mat-divider class="divider"></mat-divider>
    <div class="tipoProyecto">

      <p class="label">Tipo de proyecto</p>
      <p class="label2">Seleccione el tipo de proyecto en el que se enmarcará la propuesta de investigación</p>
      <section class="Section">
        <mat-checkbox color="primary">Investigación</mat-checkbox>
        <mat-checkbox color="primary">Desarrollo tecnológico</mat-checkbox>
        <mat-checkbox color="primary">Innovación</mat-checkbox>
      </section>

    </div>
    <mat-divider></mat-divider>
    <div class="grupoLineaIvestigacion">
      <p class="label mt20">Grupo y línea de investigación a la cual estará adscrito el proyecto de investigación,
        desarrollo tecnológico o innovación - I+D+i</p>
      <p class="label2">Seleccione el tipo de proyecto en el que se enmarcará la propuesta de investigación</p>
      <div class="titleGrupoInves">
        <p class="pTitleInves">GRUPO DE INVESTIGACIÓN</p>
      </div>
      <div class="grupos">
        <p class="titleGI br1">GEOMATICA</p>
        <p class="titleGI br1">SUELOS Y ECOLOGÍA</p>
        <p class="titleGI">ESTUDIOS TERRITORIALES</p>
      </div>
      <p class="lineasInvs">LÍNEAS DE INVESTIGACIÓN</p>
      <div class="father">
        <div class="left">
          <section class="Section">
            <mat-checkbox color="primary">Geodesia</mat-checkbox>
            <mat-checkbox color="primary">Gestión de conocimiento</mat-checkbox>
            <mat-checkbox color="primary">Infraestructura de datos espaciales</mat-checkbox>
            <mat-checkbox color="primary">Percepción Remota</mat-checkbox>
            <mat-checkbox color="primary">Sistema de información geográfica</mat-checkbox>
            <mat-checkbox color="primary">Tecnologías de la información y la comunicación (TIC) para la Gestión del
              Conocimientos en las Organizaciones</mat-checkbox>
            <mat-checkbox color="primary">Catastro Multipropósito</mat-checkbox>
          </section>
        </div>
        <div class="center">
          <section class="Section">
            <mat-checkbox color="primary">Contaminicación de Suelos</mat-checkbox>
            <mat-checkbox color="primary">Geografía de Suelos</mat-checkbox>
            <mat-checkbox color="primary">Planificación y uso de las tierras</mat-checkbox>
          </section>
        </div>
        <div class="rigth">
          <section class="Section">
            <mat-checkbox color="primary">Geopolítica y límites</mat-checkbox>
            <mat-checkbox color="primary">Planificación urbano-regional</mat-checkbox>
            <mat-checkbox color="primary">Sociedad y espacio</mat-checkbox>
          </section>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>

    <div class="fieldImputText">
      <mat-form-field class="matFormField">
        <p class="label">Tiempo de ejecución del proyecto I+D+i</p>
        <p class="label2">Establezca un cronograma preliminar del proyecto y duración del mismo en meses.</p>
        <textarea #tiempo class="textA" matInput placeholder="Tiempo de ejecución del proyecto I+D+i"></textarea>
        <mat-hint align="end" style="text-align: end;">{{tiempo.value.length}} / 250</mat-hint>
      </mat-form-field>
    </div>
    <div class="fieldImputText">
      <mat-form-field class="matFormField">
        <p class="label">Lugar de ejecución</p>
        <p class="label2">Defina el lugar donde se ejecutará el proyecto I+D+i.</p>
        <textarea #lugar class="textA" matInput
          placeholder="Defina el lugar donde se ejecutará el proyecto I+D+i"></textarea>
        <mat-hint align="end" style="text-align: end;">{{lugar.value.length}} / 250</mat-hint>
      </mat-form-field>
    </div>
    <div class="fieldImputText">
      <p class="label">Productos resultados de la investigación</p>
      <p class="label2">Identificaser, seleccionar y relacionar los productos resultado de la investigación que se
        obtienen, segun las tipologías de
        Minciencias corresponden a: Generación de nuevo conocimiento, desarrollo tecnológico e innovación; Apropiación
        social del conocimiento y divulgación
        pública de la ciencia y la Formación de recurso humano en ciencia Tecnología e Innovación - CTeI.</p>

      <div class="fieldImputText">
        <mat-form-field class="matFormField">
          <p class="label">Productos resultados de actividades de Generación de Nuevo Conocimiento</p>
          <p class="label2">Identificar y establecer los productos esperados en el proyecto. Minciencias 2021: Articulos
            de investigación,
            tipo A1, A2, B, C y D; Notas cientificas, tipo A1, A2, B, C y D; Libros resultados de investigación; Libros
            de formación en cuartil Q1;
            Capitulos en libro resultadosd e investigación; Productos tecnológicos patentados o en proceso de concesión
            de la patente; Variedades
            vegetales, variedades animales y poblaciones mejoradas de razas pecuarias y obras o productos resultados de
            creación e
            investigación-creación, Arquitectura y Diseño
          </p>
          <textarea #Productos class="textA" matInput
            placeholder="Productos resultados de actividades de Generación de Nuevo Conocimiento"></textarea>
          <mat-hint align="end" style="text-align: end;">{{Productos.value.length}} / 250</mat-hint>
        </mat-form-field>
      </div>
      <div class="fieldImputText">
        <mat-form-field class="matFormField">
          <p class="label">Productos resultados de actividades de Desarrollo tecnológico e Innovación</p>
          <p class="label2">Identificar y establecer el producto esperados en el proyecto. Minciencias 2021: Productos
            empresariales, regulaciones,
            normas, reglamentos o legislaciones, Conceptos técnicos y Registros de Acuerdos de licencia para explotación
            de obras de investigación + Creación en Artes,
            Arquitectura y Diseño protegidas por derechos de auto.
          </p>
          <textarea #ProductosDesarrollo class="textA" matInput
            placeholder="Productos resultados de actividades de Desarrollo tecnológico e Innovación"></textarea>
          <mat-hint align="end" style="text-align: end;">{{ProductosDesarrollo.value.length}} / 250</mat-hint>
        </mat-form-field>
      </div>
      <div class="fieldImputText">
        <mat-form-field class="matFormField">
          <p class="label">Productos resultados de actividades de Apropiación Social del Conocimiento y Divulgación
            Publica de la Ciencia</p>
          <p class="label2">Identificar y establecer el producto esperados en el proyecto. Minciencias 2021:
            Reconocimiento de Contexto. la Participación;
            Dialogo de Saberes y conocimientos; Confianza y Reflexión Crítica
          </p>
          <textarea #ProductosApropiacion class="textA" matInput
            placeholder="Productos resultados de actividades de Apropiación Social del Conocimiento y Divulgación Publica de la Ciencia"></textarea>
          <mat-hint align="end" style="text-align: end;">{{ProductosApropiacion.value.length}} / 250</mat-hint>
        </mat-form-field>
      </div>
      <div class="fieldImputText">
        <mat-form-field class="matFormField">
          <p class="label">Productos resultados de actividades de Formación del Recurso Humano para la CTeI</p>
          <p class="label2">Identificar y establecer el producto esperados en el proyecto. Minciencias 2021: Realización
            de una tésis o trabajo de grado
            que otorga el título de doctor(a), magister o profesional (respectivamente); la ejecución de proyectos de
            ID+I con formación y apoyo a programas
            de formación; y la gestión de proyectos de investigación que permitan la consecución de los recursos
            necesarios para el desarrollo de la investigación
            o la innovación.
          </p>
          <textarea #ProductosFRH class="textA" matInput
            placeholder="Productos resultados de actividades de Formación del Recurso Humano para la CTeI"></textarea>
          <mat-hint align="end" style="text-align: end;">{{ProductosFRH.value.length}} / 250</mat-hint>
        </mat-form-field>
      </div>

    </div>

    <div class="formStyleFields">

      @for (item of camposFieldEditText; track $index) {
        <app-field-input-edit-text [item]="item"></app-field-input-edit-text>
      }

    </div>
 -->
  </div>

<div style="display: flex; flex-direction: column;">
  <div style="display: flex; justify-content: center;">
    <span style="width: fit-content; margin-right: 20px; font-weight: bold;">
      formulario.valid:</span>
    <pre>{{ formulario.valid | json }}</pre>
  </div>
  <div style="display: flex; justify-content: center;">
    <span style="width: fit-content; margin-right: 20px; font-weight: bold;">
      formulario.pristine:</span>
    <pre>{{ formulario.pristine | json }}</pre>
  </div>
  <div style="display: flex; justify-content: center;">
    <span style="width: fit-content; margin-right: 20px; font-weight: bold;">
      formulario.touched:</span>
    <pre>{{ formulario.touched | json }}</pre>
  </div>
  <div style="display: flex; justify-content: center;">
    <span style="width: fit-content; margin-right: 20px; font-weight: bold;">
      Fecha_Idea:</span>
    <pre>{{ formulario.controls["Fecha_Idea"].errors | json }}</pre>
    <pre>{{ formulario.controls["Fecha_Idea"].touched | json }}</pre>
    <pre>{{ formulario.controls["Fecha_Idea"].value | json }}</pre>
    <pre>{{ formulario.controls["Fecha_Idea"].status | json }}</pre>
  </div>

</div>

  <button type="submit">Guardar</button>
</form>
