.newIdeaContainer{
  // background-color: light-dark(lime, green);
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 34px;
  /* justify-content: center; */
  /* text-align: center; */
  padding: 30px 10px 5px 10px;
  overflow: auto;
  width: 94vw;

  .title1Div{
    padding-top: 20px;
    .tittle1{
      margin-bottom: 5px;
    }
  }



  .gdp{
    text-align: justify;
    // margin-top: 10px;
  }


  .aspectosTecnicos{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid blue;
    // background-color: aqua;

    .fieldImputText{
      // background-color: #4199ff;
      // width: 100%;

      .matFormField{
        // background-color: springgreen;


        .textA{
          // background-color: blue;
          width: 85vw;
        }
      }
    }
    .tipoProyecto{

      .Section{
        display: flex;
      }
    }
    .grupoLineaIvestigacion{

      .titleGrupoInves{
        background-color: #4199ff;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        text-align: center;
        padding: 12px 5px 1px 5px;
        .pTitleInves{
          color: #f9f6f6;
          font-weight: bold;
        }
      }
      .grupos{
        display: flex;
        flex-direction: row;
        // background-color: aqua;
        text-align: center;
        border-bottom: 1px solid gray;
        height: 30px;
        .titleGI{
          font-weight: bold;
          margin: 0;
          padding-top: 7px;
        }
      }
      .lineasInvs{
        text-align: center;
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid gray;
      }
      .father{
        display: flex;
        border-bottom: 1px solid gray;
        .left{
          border-right: 1px solid gray;
        }
        .center{
          border-right: 1px solid gray;
        }
      }
    }
    .grupoLineaIvestigacion{
      margin-bottom: 20px;
    }
    .formStyleFields{
      // background-color: #4199ff;
      margin-left: -10px;


    }
  }



}

.NgxEditor__Wrapper{
  background-color: #4199ff !important;
}

h2{
  margin: 0;
}

.full-width{
  width: 100%;
}

.divider{
  margin-bottom: 10px;
}

.mt20{
  margin-top: 20px;
}

.br1{
  border-right: 1px solid gray;
}

.label{
  // background-color: blueviolet;
  font-weight: bold;
  margin-bottom: 1px;
  margin-top: 15px;
  width: 90vw;

}
.label2{
  // background-color: aqua;
  color: #4199ff;
  font-size: small;
  text-align: justify;
  // width: max-content;
  width: 85vw;
}

@media only screen and (max-width: 600px) {
  .newIdeaContainer{
    width: 99vw;
    .breadCrumb{
      padding-left: 30px;
    }
  }

}

//////////////////////////////
.generalDelProponente{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid blue;

  .date{
    text-align: justify;
    color: gray;

    .dateTitle{
      margin: 0;
      background-color: #f9f6f6;
      padding: 8px 0px 10px 15px;
    }
    .dateContainer{
      background-color: #f9f6f6;
      border-bottom: 1px solid gray;
      padding-left: 15px;

      .inputDate{
        width: 25%;
        border: none;
        color: gray;
        font-size: medium;
      }
      input[type="date"]:focus {
        outline: none; /* Elimina el borde de enfoque */
    }
    }
  }

}
.tootlip{
  display: none;
  width: max-content;
  background-color: blue;
  color: #f9f6f6;
  padding: 5px;
  position: absolute;
  top: 0;
  padding-bottom: 5px; /* Espaciado interno */
  border-radius: 5px;
}
/* Estilo del tootlip cuando se muestra */
.contenedor:hover .tootlip {
  display: block; /* Mostrar el tootlip cuando se pasa el cursor sobre el contenedor */
  // top: 100%; /* Colocar el tootlip debajo del contenedor */
  // left: 0; /* Alinear el tootlip a la izquierda del contenedor */
  // background-color: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
  // color: white; /* Color del texto */
  /* Bordes redondeados */
  // width: 200px; /* Ancho del tootlip */
  transition: opacity 0.6s ease; /* Transición suave */
  opacity: 0; /* Inicialmente invisible */
}
/* Estilo del tootlip cuando se muestra */
.contenedor:hover .tootlip {
  opacity: 2; /* Hacer el tootlip completamente visible */
}

@media only screen and (max-width: 600px) {
  .generalDelProponente{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    // padding: 20px;
    // border-radius: 20px;
    // border: 1px solid blue;
  }

}

