.notas{
  align-items: center;
  background-color: var(--blue-status-color);
  color: var(--secondary-color);
  display: flex;
  padding: 0px 10px 0px 0px;
  border-radius: 10px;
  height: 100%;

  .pestania{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 30px;
    height: 100%;
    background-color: var(--secondary-color);
    margin-right: 10px;
  }

  .parrafNotes{
    margin: 0;
    padding: 10px;
  }

}
