<!-- <div id="newConvocatoriaContainer">

<h1>newConvocatoriaContainer {{convocatoriaId}}</h1>

</div> -->


<div class="newConvocatoriaContainer">
    <p class="idConvocatoria">Convocatoria. {{convocatoriaId}} /</p>
    <p class="tittleConvocatoria">{{tittleConcocatoria}}</p>
  <div class="cardsConvocatoria">
    <div class="cardLeft">
      <div class="cardHeader" [style.background-image]="'url(' + imgBackGround + ')'">
       <!--  <p class="date">{{fechaConvocatoria}}</p>
        <p class="fixText">Nueva convocatoria.</p>
        <p class="tittleConv2">{{tittleConcocatoria}}</p>
        <p class="fixText2">APORTE SUS IDEAS</p> -->
      </div>
      <div class="cardDetailConvocatoria scrollBarApp" [style.padding]="padding">
        <P class="detailConvocatoria scrollBarApp">{{detalleConvocatoria}}</P>
      </div>
    </div>
    <div class="cardRigh shadow">
      <div class="row">
          <mat-icon aria-hidden="false" aria-label="dashboard icon" fontIcon="person" class="icon pointer"></mat-icon>
        <div class="data">
          <p class="tittle2">Responsable</p>
          <p class="text1">{{responsable}}</p>
        </div>
      </div>
      <div class="row rowMT">
        <mat-icon aria-hidden="false" aria-label="dashboard icon" fontIcon="calendar_today" class="icon pointer"></mat-icon>
        <div class="data">
          <p class="tittle2">Fecha Límite</p>
          <p class="text1">{{fechaLimite}}</p>
        </div>
      </div>
      <div class="btnAportarIdea">
        <button
          (click)="goIdea(convocatoriaId)"
          mat-raised-button
          disabledInteractive
          matTooltip="Aportar Idea"
          color="primary"
        >
          APORTAR IDEA
        </button>
      </div>
    </div>
  </div>
</div>
