// Importar mixin de breakpoints
@import "/abstracts/_mixins-breakpoint";

.newConvocatoriaContainer{
  text-align: center;
  height: 100vh;
  padding: 5px 20px 5px 20px;

  .idConvocatoria{
    text-align: justify;
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .tittleConvocatoria{
    text-align: justify;
    padding-left: 10px;
    font-weight: bold;
    color: var(--secondary-color);
    font-size: larger;
    font-size: 21px;
  }

  .cardsConvocatoria{
    display: flex;

    .cardLeft{
      padding: 5px;
      height: 400px;
      width: 70%;

      .cardHeader{
        align-content: center;
        border-radius: 20px;
        padding: 10px 10px 10px 30px;
        text-align: justify;
        height: 60%;
        color: var(--white-color);
        background-image: url("http://172.19.3.143:8055/assets/e2c23cbf-f312-44f9-9306-62470b8afbed?fit=contain&width=2000&height=2000&quality=100");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .date{
          font-size: small;
        }
        .fixText{
          font-size: medium;
        }
        .tittleConv2{
          font-size: larger;
        }
        .fixText2{
          font-size: medium;
        }
      }

      .cardDetailConvocatoria{
        background-color: var(--white-color);
        border-radius: 20px;
        position: relative;
        top: -51px;
        // max-width: 94%;
        margin-left: 17px;
        margin-right: 17px;
        overflow: overlay;
        border: 1px solid var(--grey-light1-color);
        padding: 110px 20px 20px 10px;
        height: 280px;
        align-content: center;
        text-align: justify;



        .detailConvocatoria{
          // overflow: auto; /* Permite que el contenido desbordado sea desplazable */
          // max-height: 300px;
          align-content: space-around;

          }
      }
    }

    .cardRigh{
      background-color: var(--white-color);
      padding: 20px 10px 10px 30px;
      height: 58%;
      margin-top: 5px;
      margin-right: 6px;
      border-radius: 20px;
      // max-width: 425px;
      margin-left: 10px;
      width: 30%;

      .row{
        align-items: center;
        display: flex;
        margin-bottom: 5px;

        .icon{
          margin-right: 20px;
        }
        .data{
          p{
            margin: 0px;
          }
          .tittle2{
            color: var(--secondary-color);
            font-weight: bold;
          }

        }
      }
      .rowMT{
        margin-top: 30px;
      }
      .btnAportarIdea{
        padding: 20px;
        margin-top: 50px;
      }
    }

    .shadow{
      -webkit-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.75);
      box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.75);
    }

  }

}

// Resolucion extra-small
@include respond(xs){
  .newConvocatoriaContainer{
    display: flex;
    flex-direction: column;
    padding: 0px 10px 5px 5px;
    overflow: overlay;

    .idConvocatoria{
      width: auto;
      text-align: end;
    }
    .tittleConvocatoria{
      text-align: center;
    }
    .cardsConvocatoria{
      flex-direction: column;

      .cardLeft{
        width: 100%;

        .cardHeader{
          align-content: center;
          padding: 0px 10px 10px 9px;
          height: 50%;
        }
        .cardDetailConvocatoria{
          top: -30px;
          max-width: fit-content;
          padding: 110px 20px 20px 10px;
          height: 240px;
        }
      }
      .cardRigh{
        background-color: var(--black-color);
        color: var(--white-color);
        margin-left: 7px;
        margin-top: 15px;
        width: auto;
        box-shadow: unset;
        padding-top: 50px;

        .row{
          .data{
            .tittle2{
              color: var(--primary-color);
            }
          }

        }

        .btnAportarIdea{
          margin-top: 20px;
        }

        .rowMT{
          margin-top: 20px;
        }
      }
    }
  }

}


.scrollBarApp{
  scrollbar-width: thin;
}
