// Importar mixin de breakpoints
@import "/abstracts/_mixins-breakpoint";

#dashBoardPageContainer{
  height: 100vh;
  justify-content: center;

  .top-banner{
    align-content: center;
    height: 22%;
  }

}

// Resolucion extra-small
@include respond(xs){

  #dashBoardPageContainer{
    .top-banner{
      height: 20%;
    }

    .listIdeas{
      height: 100%;
    }
  }
}
@include respond(sm){

  #dashBoardPageContainer{
    .top-banner{
      height: 21%;
    }
  }
}

