#dashBoardPageContainer{
  // background-color: blueviolet;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;

  .top-banner{
    align-content: center;
    // background-color: antiquewhite;
    height: 24%;
  }

  .listIdeas{
    align-content: center;
    // background-color: aquamarine;
    height: 70%;
  }
}

@media only screen and (max-width: 600px) {

  #dashBoardPageContainer{

    .listIdeas{
      // margin-top: -108px;
      height: 100%;
    }
  }
}

