// Importar mixin de breakpoints
@import "/abstracts/_mixins-breakpoint";

#dashBoardPageContainer{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;

  .top-banner{
    align-content: center;
    height: 24%;
  }

  .listIdeas{
    align-content: center;
    height: 70%;
  }
}

// Resolucion extra-small
@include respond(xs){

  #dashBoardPageContainer{

    .listIdeas{
      height: 100%;
    }
  }
}

