@import "./abstracts/variables";

:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --green-light-color: #{$green-light-color};
  --black-color: #{$black-color};
  --white-color: #{$white-color};
  --grey-color: #{$grey-color};
  --grey-light1-color: #{$grey-light1-color};
  --grey-light2-color: #{$grey-light2-color};
  --grey-light3-color: #{$grey-light3-color};
  --green-status-color: #{$green-status-color};
  --orange-status-color: #{$orange-status-color};
  --lightred-status-color: #{$lightred-status-color};
  --blue-status-color: #{$blue-status-color};
  --red-status-color: #{$red-status-color};
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body{
  min-height: 100vh;
}



