// Importar mixin de breakpoints
@import "/abstracts/_mixins-breakpoint";
#app-nav-bar{
  width: 70px;
  display: grid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

#smallNavBar{
  display: none;
  width: 0px;
  bottom: 0;
}


// Resolucion extra-small
@include respond(xs){

  #app-nav-bar{
    display: none;
  }

  #smallNavBar{
    display: flex;
    background-color: var(--grey-light1-color);
    z-index: 99;
  }
}
@include respond(sm){

  #app-nav-bar{
    display: none;
  }

  #smallNavBar{
    display: flex;
    background-color: var(--grey-light1-color);
    z-index: 99;
  }
}
